token_digitalocean = "Your token"
my-access-key = "Your aws access-key"
my-secret-key = "Your aws secret-key"
dns_zone = "example.com"
dns_name = "dan4ex"
vps_image = "ubuntu-18-04-x64"
vps_name = "dan4ex"
vps_region = "blr1"
vps_resources = "s-1vcpu-1gb"
provider_region = "us-west-2"
ssh_key_name = "dan4ex_ssh"
ssh_key = "ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEA0Hkl0+w5PV5Bmd3/YIQuuTWVuyxQ6yn+gPt4D1IwhayiKiMPIkb+Z8wK6In4BKvJfUFKVWKxQpgepbu7sWB1MmjKoVZ8iOMto9Nnk9Tz5GJYyJw8UYJdgYl3B6mquUeYphUAKZkaX/+wQPkkq0UH6AQPtgUrzbNiCqi+ZEEEk58+QvvMGXcgVAT28meKfQWBMmJXOmovF64s4KunuFw0iQVMuH7i43lKYf5gMzH4Eg4UeN8hJKJuzGK2aIqcHlxRq4flQIdIeIamneT+ZVEsdNnE8DRgJhG2PjVkwoF/VgHT5n3nC1TX07eDHqxAX3aFzPo+4QnGewnCzCFdVWg93w== rsa-key-20190914"
